// Colors
$primary-color: rgba(0, 0, 0, 0.8);  
$hover-color: #b91e1e;
$light-blue: rgba(135, 206, 250, 0.2);

// Breakpoints and spacing
$base-spacing: 20px;
$mobile-breakpoint: 768px;

// Overall page background
.pc-case-page {
    background-color: rgba(88, 88, 88, 0.8); 
    color: #fff; 

    div {
        margin: 10px;
        padding: 15px;
        border-radius: 24px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    h2 {
        color: $primary-color; 
        margin-bottom: 10px;
        font-size: 65px;

        @media (max-width: $mobile-breakpoint) {
          font-size: 40px;
        }
    }

    ul {
        list-style-type: none; 
        padding: 0;
    }

    li {
        margin-bottom: 5px;
        font-size: 25px;
        line-height: 1.6; 
        font-family:  Georgia, 'Times New Roman', Times, serif;
          @media (max-width: $mobile-breakpoint) {
            font-size: 16px;
          }
        strong {
            color: #b91e1e;
        }
    }

    p {
        color: $primary-color;
        font-size: 35px;
        font-family: cursive; 
        margin: 2rem;
          @media (max-width: $mobile-breakpoint) {
            font-size: 19px;
          }
      }

    .pc-case-types, .pc-case-features, .pc-case-components {
        background-color: $light-blue;
    }

    .pc-case-types h2, .pc-case-features h2, .pc-case-components h2 {
        border-bottom: 2px solid #b91e1e;
    }
}

// Parallax backgrounds
.parallax {
  background: attachment center, position center, repeat no-repeat, size cover;
  max-width: 100%;
  height: 59vh;
  margin-top: $base-spacing;
  @media (max-width: $mobile-breakpoint) {
    background-attachment: local;
  }
}

// Navigation buttons
.navigation-buttons {
  text-align: center;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  button {
    padding: 10px $base-spacing;
    background-color: $primary-color;
    color: white;
    border: none;
    height: 15rem;
    font-size: 50px;
    margin: 2%;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: $hover-color;
    }
  }
  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    button {
      width: 100%;
    }
  }
}
