// Define variables
$white: rgba(255, 255, 255, 0.8); // White with transparency
$black: #000000;
$gray: #808080;

// Main page styles
.main-page {
  padding: 1px;

  // Grid styles
  .components-grid {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 1px;
  }

  // Component item styles
  .component-item {
    height: 100vh; 
    display: flex; 
    align-items: center; // Center align items vertically
    justify-content: center; // Center align items horizontally
    color: white; // Text color
    font-size: 20px; // Font size
    overflow: hidden; // Hide overflow
    position: relative; // Relative positioning
    background-size: cover; // Ensures the image covers the full area
    background-position: center; // Centers the image in the element
    background-repeat: no-repeat; // Prevents the image from repeating

    
    &.locked {
      filter: grayscale(100%); // Grey out the image for locked items

      .overlay {
        background-color: rgba(224, 224, 224, 0); // Applying a grey transparent overlay
      }
    }

    // Media query for smaller screens
    @media (max-width: 768px) {
      height: 59vh; // Reduce height for smaller screens
    }

    // Apply parallax effect
    &.parallax {
      background-attachment: fixed; // Fixed background attachment for parallax effect
    }


  }

  // Overlay styles
  .overlay {
    width: 40%; // Reduce width for smaller screens
    height: 8%; // Overlay width
    padding: 10px; // Padding for overlay content
    background-color: $black; // White background color
    position: absolute; // Absolute positioning
    text-align: center; // Center align text
    text-decoration: none;
    font-size: 40px; // Font size
    font-weight: bold; // Bold font weight
    color:  $white; 

    // Center text vertically
    display: flex; // Flex display
    flex-direction: column; // Column direction for flex
    justify-content: center; // Center justify content vertically

    // Adjust width for smaller screens
    @media (max-width: 768px) {
      width: 62%; // Reduce width for smaller screens
      height: 20%;
    }
  }

  // Component name styles
  .component-name {
    font-size: 24px; // Font size
    font-weight: bold; // Bold font weight

    // Adjust font size for smaller screens
    @media (max-width: 768px) {
      font-size: 18px; // Reduce font size for smaller screens
    }
  }

  // Component description styles
  .component-description {
    font-size: 16px; // Font size
  }
}
  
.lock-icon {
  width: 30rem;  // Set a fixed width for the lock icon
  height: 30rem;  // Set a fixed height to match the width
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  // Adjust for smaller screens
  @media (max-width: 768px) {
    width: 20rem;  // Set a fixed width for the lock icon
    height: 20rem; 
  }
  
  img {
      width: 100%;  // Ensure the image fills the lock-icon container
      height: auto;  // Maintain the aspect ratio of the image
  }
}
